@import "../../../Commons/Styles/mediaQuery.scss";

form {

    .input-box {
        position: relative;
        margin-bottom: 40px;

        label {
            position: absolute;
            top: -6px;
            left: 0;
            pointer-events: none;
            font-size: 18px;
            color: #AEAFB1;
            font-weight: 300;
        }

        label.animate {
            transition: transform 0.3s ease;
            transform: translateY(-100%);
            font-size: 12px;

        }

        .error-message {
            margin-top: 6px;
            color: red;
            font-size: 14px;
        }

        input {
            border: none;
            outline: none;
            padding: 0;
            color: black;
            border-bottom: 1px solid #AEAFB1;
            width: 248px;
            cursor: pointer;

            &:focus {
                border-bottom: 1px solid #026fd4;
                transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
                -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
                -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            &:focus+label {
                transition: transform 0.3s ease;
                transform: translateY(-100%);
                font-size: 12px
            }




        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        .register-btn {
            width: 165px;
            border-radius: 5px;
            color: #fff;
            border: none;
            background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
            padding: 10px;
        }

        .register-btn.disabled {
            background: linear-gradient(to right, #cccccc, #999999, #bbbbbb);

        }
    }
}