@import "../../../Commons/Styles/mediaQuery.scss";

.popup-container {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    padding: 20px;

    .dsp-none {
        display: none;
    }

    .cross-icon {
        position: absolute;
        top: 12px;
        right: 16px;
        color: #026fd4;
        font-weight: 700;
        cursor: pointer;
    }


    .popup-content {
        padding-top: 35px;
    }

    .popup-title {
        margin-bottom: 42px;
        font-size: 20px;
        color: #026fd4;
        font-size: 33px;
        font-weight: 700;
    }


}